.refreshButton{
    width: 150px;
    background-color: blue;
    color: white;
    margin-right: 150px;
   
}

.enabledButton
{
background-color: red;
color: white;
width: 150px;
margin-right: 150px;
}

.subTitle
{
    font-size: medium;
    color: blue;
}
.title
{
    size: 5;
    color: red;
    
}