<form (ngSubmit)="onSubmit()" #processForm="ngForm">
    <div>
        <b> תביעת על: </b><span>{{process.superClaim.superClaimNum}}</span>
        <b> מצב תביעה: </b><span>{{process.superClaim.superClaimStatus}}</span>
        <button class="refreshButton" (click)="refreshProcess()">רענון תהליך</button>

        <app-process-details [insured]="process.insured" [superClaim]="process.superClaim"></app-process-details>
        <app-contects-summary> </app-contects-summary>
        <app-contects></app-contects>
    </div>
    <button class="refreshButton" type="submit" [disabled]="!processForm.form.valid">המשך תהליך</button>
    {{processForm.form.valid}}
</form>