.title
{
    
    font-size: larger;
    color: red;
}
.subTitle
{
    font-size: medium;
    color: blue;
}
.refreshButton{
    width: 150px;
    background-color: blue;
    color: white;
    margin-right: 150px;
   
}

.enabledButton
{
background-color: red;
color: white;
width: 150px;
margin-right: 150px;
}